.carousel-container {
  padding: 0 5px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #EE7763 !important;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem !important;
}

.swiper-pagination-bullet {
  background-color: #EE7763
}